
# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: qqreads

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */20 * * *'
  watch:
    types: started
  repository_dispatch:
    types: qqread
jobs:
  build:

    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          repository: ZhiYi-N/script
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cache node_modules
        uses: actions/cache@v2 # 使用 GitHub 官方的缓存 Action。
        env:
          cache-name: cache-node-modules
        with:
          path: node_modules
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ hashFiles('package-lock.json') }} # 使用 package-lock.json 的 Hash 作为缓存的 key。也可以使用 package.json 代替
      - name: npm install
        run: |
          npm install
          npm install got
          npm install tough-cookie
      - name: '运行 【企鹅阅读】'
        run: |
          node qqread.js
        env:
          READERHEAD: ${{ secrets.READERHEAD }}
          TIMEHEAD: ${{ secrets.TIMEHEAD }}
          qqreadtimeurl: ${{ secrets.qqreadtimeurl }}
          qqreadtimeheader: ${{ secrets.qqreadtimeheader }}
          PUSH_KEY: ${{ secrets.PUSH_KEY }}
          TG_USER_ID: ${{ secrets.TG_USER_ID }}
          BARK_SOUND: ${{ secrets.BARK_SOUND }}
          DD_BOT_TOKEN: ${{ secrets.DD_BOT_TOKEN }}
          DD_BOT_SECRET: ${{ secrets.DD_BOT_SECRET }}
          IGOT_PUSH_KEY: ${{ secrets.IGOT_PUSH_KEY }}
